services:
  accounts:
    image: "sivakrishna464/accounts:s4"
    container_name: accounts-ms
    ports:
      - "8080:8080"
    deploy:
      resources:
        limits:
          memory: 800m
    networks:
      - eazybank
          
          
  loans:
    image: "sivakrishna464/loans:s4"
    container_name: loans-ms
    ports:
      - "8090:8090"
    deploy:
      resources:
        limits:
          memory: 800m
    networks:
      - eazybank
          
  cards:
    image: "sivakrishna464/cards:s4"
    container_name: cards-ms
    ports:
      - "9000:9000"
    deploy:
      resources:
        limits:
          memory: 800m
    networks:
      - eazybank
networks:
  eazybank:
    driver: "bridge"
          
          