spring:
  application:
    name: "gatewayserver"
  config:
    import: "optional:configserver:http://localhost:8071/"
  cloud:
    gateway:
      server:
        webflux:
          discovery:
            locator:
              enabled: false
              lowerCaseServiceId: true

      httpclient:
        connect-timeout: 1000
        response-timeout: 5s
  data:
    redis:
      connect-timeout: 2s
      host: localhost
      port: 6379
      timeout: 1s 
management:
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    gateway:
      access: unrestricted 
   
  info:
    env:
      enabled: true
      
      
      
info:
  app:
    name: "gatewayserver"
    description: "Eazy Bank Gateway Server Application"
    version: "1.0.0"
    
logging:
  level:
    com:
      eazybytes:
        gatewayserver: DEBUG
        
resilience4j.circuitbreaker:
  configs:
    default:
      timeoutDuration: 120s
      slidingWindowSize: 10    #please monitor atleast 10 req before taking the decision
      permittedNumberOfCallsInHalfOpenState: 2
      failureRateThreshold: 50  # 50 percent
      waitDurationInOpenState: 120s #in milliseconds
  